body {
    
background-size: cover ;
background-repeat: no-repeat;
background-position: center center;
min-height: 100vh;
    background-image: url(https://www.hpshop.co.za/media/magefan_blog/5_Best_Coding_Programs_for_Aspiring_Programmers1650304687858345.jpg)





}

  #MoneyCount {color: blue;

}


#helloworld {color: aqua;}